.fondo{
    height: 100vh;
    width: 100%;
    background-repeat:repeat-y;
    background-position:top;
    background-size: cover;

}
header{
    background-image: url('../assets/8.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
}
.fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
img{
    border-radius:10%;
}
.imagen{

    border-radius:0;
    width: 100%;
}
iframe{
    border-radius: 10px;
}
.textofotos{
    width: 100%;
}
.carousel-item{
    margin-bottom: 2vh;
}
.caruselFoto{
    height: 100vh;
    object-fit: contain;

}
.fotosnosotros{
    width: 100%;
    
}
.imagenesnosotros{
    border-radius: 100% ;
}
.justificar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.info{
    padding-bottom: 50px;
}

.titulofotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.fotonovios{
    border-radius: 100%;
    width: 100%;



}
.bgtwo{
    background-image: url(../assets/6.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    
}

.bgthree{
    background-image: url(../assets/Regalo1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    
}
.col-lg-6{
    padding-top: 1rem;

}

.menus{
    font-family: 'Great Vibes', cursive;
    font-size: 10px;
    color:red;
}
body {
    font-family: 'Oswald', sans-serif !important;
  }

@media screen and (max-width:770px) {

    .fondo{
        height: 80vh;
        width: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: top center;
         background-attachment:fixed;
        
    }
    .fotonovios{
        width: 100%;

    }
    header{
        background-image: url(../assets/F1.jpg);
       
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment:fixed;
    }
    .menus{

        font-size: 20px !important;

    }
    .bgtwo{
        background-image: url(../assets/2.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment:fixed;
        
    
    
    
    }
    .imagen{
        content: url(../assets/Regalo2.jpg)

    }
}
